src/pages/index.pug
extends ../templates/template.pug
block content
  .main
    .main-head.u-flex-col.u-jcsb.u-ais
      +header
      h1.main-head__title Новая эра дачного строительства
      ul.main-head-odds.media-min--tab
        .main-head-odds__item
          .main-head-odds__count 01
          .main-head-odds__title Энергоэффективно
        .main-head-odds__item
          .main-head-odds__count 02
          .main-head-odds__title Экологично
        .main-head-odds__items
          .main-head-odds__count 03
          .main-head-odds__title Сборка за 1 день
      .main-head__bg
        video(width="100%" height="100%" data-scroll data-scroll-speed="-2" autoplay loop muted playsinline webkit-playinginline)
          source(src="assets/videos/front-video.mp4" type="video/mp4")

    section.section.section--light(data-target="section-1")
      .container
        .section__wrapper
          .section__part
            .section-title.t-h2 Что такое Dome-Dom?
            p.section-subtitle Это невероятно, но бригада из 4 человек устанавлявает наш теплый дом-конструктор всего за один день.
          .section__part
            .section-title.t-h3 Купольные дома из пенополиуретана.
            .section-part__content
              p Базовой конструкцией сооружения является 12-гранный купол, состоящий из 12-ти панелей типа «Лепесток». Панели купола Dome-Dom соединяются с помощью системы «Шип-Паз», что упрощает монтаж, минимизирует теплопотери и препятствует возникновению мостиков холода.
              p Типовые элементы производятся на заводе в подмосковном городе Люберцы из высококачественных европейских компонентов.
              p Купол имеет внутри каркас из арматуры диаметром 16 мм для образования единого силового контура и придания дополнительной жесткости и прочности конструкции.
              p С 2012 года мы производим дома по запатентованной технологии Dome-Dom и имеем сотни реализованных проектов.

        .section__picture
          img(src="assets/img/house.jpg")

    section.section.section--light(data-target="section-2")
      .container
        .section-title.t-h2.media-min--tab Преимущества купольной конструкции
        +benefits

    section.section.section--light
      .container
        +gallery(["assets/img/gallery-picture-1.jpg", "assets/img/gallery-picture-2.jpg", "assets/img/gallery-picture-3.jpg", "assets/img/gallery-picture-4.jpg"])
    
    section.section.section--light
      .container
        .section-title.section-title--single.t-h2 Основа купольного дома - жесткий пенополиуретан, плотностью 70 кг/м<sup>3</sup>
        .section__wrapper
          .section__part
            .section-list
              .section-list__item
                .section__title.t-h4 Устойчивость
                p Устойчив к агрессивной внешней среде, влаге, огню. Не подвержен гниению и воздействию плесени. Неинтересен грызунам.
              .section-list__item
                .section__title.t-h4 Теплоизоляция
                p Лучший теплоизолятор на сегодняшний день. Конструкции из этого полимера обладают эффектом «термоса», что существенно снижает затраты на обогрев и охлаждение помещений. Определяется ячеистой структурой. Теплопроводность колеблется между 0,019 и 0,035 Вт/(м·K). Экономия на отоплении 30%.
              .section-list__item
                .section__title.t-h4 Долговечность
                p Лабораторные исследования доказали срок службы до 50 лет. Полностью сохраняет свою форму, функциональность и параметры.
          .section__part
            .section__picture
              video(width="100%" height="auto" autoplay loop muted playsinline webkit-playinginline)
                source(src="assets/videos/fire.mp4" type="video/mp4").media-min--tab

    section.section.section--light
      .container
        .section-title.section-title--single.t-h2 Интерьер
        +gallery(["assets/img/gallery-picture-3.jpg", "assets/img/gallery-picture-4.jpg", "assets/img/gallery-picture-2.jpg", "assets/img/gallery-picture-1.jpg"])

    section.section.section--light(data-target="section-3")
      .container
        .section-title.t-h2 Цена за домокомплект
        p Без учета фундамента, окон и кровли
        +goods-list

    +footer
    

public/index.html
<!doctype html><html lang="ru"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"><title>Dome Dom</title><meta name="description" content="dome-dom"><meta name="keywords" content="dome-dom"><meta name="robots" content="index, follow"><link href="assets/css/main.css" rel="stylesheet"></head><body style="visibility:hidden"><section class="modal modal--mobile-menu modal--mobile" data-modal="mobile-menu" style="visibility:hidden"><button class="modal__overlay" type="button" data-modal-close="mobile-menu"></button><div class="modal__container"><div class="modal__head"><button class="modal__close u-center" type="button" data-modal-close="mobile-menu"><svg class="i-close"><use xlink:href="#i-close"></use></svg></button></div><div class="modal__content"><div class="mobile-menu"><div class="mobile-menu__content"><ul class="mobile-menu__list"><li class="mobile-menu__item"><button class="js-menu-btn" data-anchor="section-1">Что это?</button></li><li class="mobile-menu__item"><button class="js-menu-btn" data-anchor="section-2">Какие преимущества?</button></li><li class="mobile-menu__item"><button class="js-menu-btn" data-anchor="section-3">Сколько стоит?</button></li></ul><div class="mobile-menu__part"><span>Телефон:</span><a href="#">8911 293 41 21</a></div></div></div></div></div></section><div class="mobile-elements media-max--tab"><button class="burger" data-modal-toggle="mobile-menu"><span></span><span></span><span></span></button><a class="phone" href="tel:+79119920726"><svg class="i-phone"><use xlink:href="#i-phone"></use></svg></a></div><div class="scroll-container" id="js-scroll"><main><div class="main"><div class="main-head u-flex-col u-jcsb u-ais"><header class="header"><a class="header-logo" href="#"><img src="assets/img/logo.png"></a><div class="header-part media-min--tab"><nav class="header-nav"><button class="header-nav__item" data-anchor="section-1">Что это?</button><button class="header-nav__item" data-anchor="section-2">Какие преимущества?</button><button class="header-nav__item" data-anchor="section-3">Сколько это стоит?</button></nav><a class="header-phone" href="tel:+79119920726">+7 911 992-07-26</a></div></header><h1 class="main-head__title">Новая эра дачного строительства</h1><ul class="main-head-odds media-min--tab"><div class="main-head-odds__item"><div class="main-head-odds__count">01</div><div class="main-head-odds__title">Энергоэффективно</div></div><div class="main-head-odds__item"><div class="main-head-odds__count">02</div><div class="main-head-odds__title">Экологично</div></div><div class="main-head-odds__items"><div class="main-head-odds__count">03</div><div class="main-head-odds__title">Сборка за 1 день</div></div></ul><div class="main-head__bg"><video width="100%" height="100%" data-scroll data-scroll-speed="-2" autoplay loop muted playsinline webkit-playinginline><source src="assets/videos/front-video.mp4" type="video/mp4"></video></div></div><section class="section section--light" data-target="section-1"><div class="container"><div class="section__wrapper"><div class="section__part"><div class="section-title t-h2">Что такое Dome-Dom?</div><p class="section-subtitle">Это невероятно, но бригада из 4 человек устанавлявает наш теплый дом-конструктор всего за один день.</p></div><div class="section__part"><div class="section-title t-h3">Купольные дома из пенополиуретана.</div><div class="section-part__content"><p>Базовой конструкцией сооружения является 12-гранный купол, состоящий из 12-ти панелей типа «Лепесток». Панели купола Dome-Dom соединяются с помощью системы «Шип-Паз», что упрощает монтаж, минимизирует теплопотери и препятствует возникновению мостиков холода.</p><p>Типовые элементы производятся на заводе в подмосковном городе Люберцы из высококачественных европейских компонентов.</p><p>Купол имеет внутри каркас из арматуры диаметром 16 мм для образования единого силового контура и придания дополнительной жесткости и прочности конструкции.</p><p>С 2012 года мы производим дома по запатентованной технологии Dome-Dom и имеем сотни реализованных проектов.</p></div></div></div><div class="section__picture"><img src="assets/img/house.jpg"></div></div></section><section class="section section--light" data-target="section-2"><div class="container"><div class="section-title t-h2 media-min--tab">Преимущества купольной конструкции</div><ul class="benefits"><li class="benefits-item"><div class="benefits-item__icon"><svg class="i-benefit-1"><use xlink:href="#i-benefit-1"></use></svg></div><div class="benefits-item__title">Экстерьер</div><div class="benefits-item__description">Эргономика купола идеально вписывается в абсолютно любой ландшафт. WOW-эффект гарантирован!</div></li><li class="benefits-item"><div class="benefits-item__icon"><svg class="i-benefit-2"><use xlink:href="#i-benefit-2"></use></svg></div><div class="benefits-item__title">Интерьер</div><div class="benefits-item__description">Отсутствие несущих стен и изящно изогнутый высокий потолок позволяют воплощать самые смелые дизайнерские идеи.</div></li><li class="benefits-item"><div class="benefits-item__icon"><svg class="i-benefit-3"><use xlink:href="#i-benefit-3"></use></svg></div><div class="benefits-item__title">Энергоэффективность</div><div class="benefits-item__description">Сфера - наиболее эффективная природная форма. В сравнении с обычным домом, купол имеет на 30% меньше площади поверхности.</div></li><li class="benefits-item"><div class="benefits-item__icon"><svg class="i-benefit-4"><use xlink:href="#i-benefit-4"></use></svg></div><div class="benefits-item__title">Безопасность</div><div class="benefits-item__description">Прочность сферы обеспечена равномерным распределением нагрузок на все точки поверхности. Пробовали раздавить яйцо?</div></li><li class="benefits-item"><div class="benefits-item__icon"><svg class="i-benefit-5"><use xlink:href="#i-benefit-5"></use></svg></div><div class="benefits-item__title">Скорость</div><div class="benefits-item__description">Сборка за один день. Дом "под ключ" за месяц.</div></li><li class="benefits-item"><div class="benefits-item__icon"><svg class="i-benefit-6"><use xlink:href="#i-benefit-6"></use></svg></div><div class="benefits-item__title">Простота сборки</div><div class="benefits-item__description">Никакой спецтехники. Бригада из 4 человек. В любое время года.</div></li><li class="benefits-item"><div class="benefits-item__icon"><svg class="i-benefit-7"><use xlink:href="#i-benefit-7"></use></svg></div><div class="benefits-item__title">Экологичность</div><div class="benefits-item__description">Подтверждается гигиеническими сертификатами. Химически инертен. Не вызывает аллергий. Не содержит асбеста, фреона и формальдегидов.</div></li><li class="benefits-item"><div class="benefits-item__icon"><svg class="i-benefit-8"><use xlink:href="#i-benefit-8"></use></svg></div><div class="benefits-item__title">Прочность</div><div class="benefits-item__description">Заводское качество элементов. Стальной армирующий каркас. Крепление по системе "шип-паз".</div></li></ul></div></section><section class="section section--light"><div class="container"><div class="gallery js-booster-x"><ul class="gallery__inner js-booster__inner"><li class="gallery__item"><img src="assets/img/gallery-picture-1.jpg" data-scroll data-scroll-speed="-1"></li><li class="gallery__item"><img src="assets/img/gallery-picture-2.jpg" data-scroll data-scroll-speed="-1"></li><li class="gallery__item"><img src="assets/img/gallery-picture-3.jpg" data-scroll data-scroll-speed="-1"></li><li class="gallery__item"><img src="assets/img/gallery-picture-4.jpg" data-scroll data-scroll-speed="-1"></li></ul></div></div></section><section class="section section--light"><div class="container"><div class="section-title section-title--single t-h2">Основа купольного дома - жесткий пенополиуретан, плотностью 70 кг/м<sup>3</sup></div><div class="section__wrapper"><div class="section__part"><div class="section-list"><div class="section-list__item"><div class="section__title t-h4">Устойчивость</div><p>Устойчив к агрессивной внешней среде, влаге, огню. Не подвержен гниению и воздействию плесени. Неинтересен грызунам.</p></div><div class="section-list__item"><div class="section__title t-h4">Теплоизоляция</div><p>Лучший теплоизолятор на сегодняшний день. Конструкции из этого полимера обладают эффектом «термоса», что существенно снижает затраты на обогрев и охлаждение помещений. Определяется ячеистой структурой. Теплопроводность колеблется между 0,019 и 0,035 Вт/(м·K). Экономия на отоплении 30%.</p></div><div class="section-list__item"><div class="section__title t-h4">Долговечность</div><p>Лабораторные исследования доказали срок службы до 50 лет. Полностью сохраняет свою форму, функциональность и параметры.</p></div></div></div><div class="section__part"><div class="section__picture"><video width="100%" height="auto" autoplay loop muted playsinline webkit-playinginline><source class="media-min--tab" src="assets/videos/fire.mp4" type="video/mp4"></video></div></div></div></div></section><section class="section section--light"><div class="container"><div class="section-title section-title--single t-h2">Интерьер</div><div class="gallery js-booster-x"><ul class="gallery__inner js-booster__inner"><li class="gallery__item"><img src="assets/img/gallery-picture-3.jpg" data-scroll data-scroll-speed="-1"></li><li class="gallery__item"><img src="assets/img/gallery-picture-4.jpg" data-scroll data-scroll-speed="-1"></li><li class="gallery__item"><img src="assets/img/gallery-picture-2.jpg" data-scroll data-scroll-speed="-1"></li><li class="gallery__item"><img src="assets/img/gallery-picture-1.jpg" data-scroll data-scroll-speed="-1"></li></ul></div></div></section><section class="section section--light" data-target="section-3"><div class="container"><div class="section-title t-h2">Цена за домокомплект</div><p>Без учета фундамента, окон и кровли</p><ul class="goods-list"><li class="goods-list__item"><img src="assets/img/good-item-1.jpg"><div class="goods-list__part"><div class="goods-list__title">Шале 17 м<sup>2</sup></div><div class="goods-list__price">199 000 ₽</div></div></li><li class="goods-list__item"><img src="assets/img/good-item-2.jpg"><div class="goods-list__part"><div class="goods-list__title">25 м<sup>2</sup></div><div class="goods-list__price">349 000 ₽</div></div></li><li class="goods-list__item"><img src="assets/img/good-item-3.jpg"><div class="goods-list__part"><div class="goods-list__title">44 м<sup>2</sup></div><div class="goods-list__price">549 000 ₽</div></div></li><li class="goods-list__item"><img src="assets/img/good-item-4.jpg"><div class="goods-list__part"><div class="goods-list__title">50 м<sup>2</sup></div><div class="goods-list__price">599 000 ₽</div></div></li><li class="goods-list__item"><img src="assets/img/good-item-5.jpg"><div class="goods-list__part"><div class="goods-list__title">70 м<sup>2</sup></div><div class="goods-list__price">649 000 ₽</div></div></li><li class="goods-list__item"><img src="assets/img/good-item-6.jpg"><div class="goods-list__part"><div class="goods-list__title">75 м<sup>2</sup></div><div class="goods-list__price">949 000 ₽</div></div></li><li class="goods-list__item"><img src="assets/img/good-item-7.jpg"><div class="goods-list__part"><div class="goods-list__title">100 м<sup>2</sup></div><div class="goods-list__price">1 299 000 ₽</div></div></li><li class="goods-list__item"><img src="assets/img/good-item-8.jpg"><div class="goods-list__part"><div class="goods-list__title">109 м<sup>2</sup></div><div class="goods-list__price">1 349 000 ₽</div></div></li></ul></div></section><footer class="footer"><div class="container"><div class="footer__inner"><div class="footer-contacts"><div class="footer-contacts__photo"><img src="assets/img/footer-photo.jpg"></div><div class="footer-contacts__part u-flex-col u-jcsb"><div class="footer-contacts__content"><div class="footer-contacts__title">Антон Соколов</div><div class="footer-contacts__subtitle">Представитель компании Dome-Dom в Северозападном регионе</div></div><a class="footer-contacts__phone media-min--tab" href="tel:+79119920726">+7 (911) 992-07-26</a><ul class="footer-socials"><li class="footer-socials__item"><a href="https://vk.com/anton_sokolov" target="_blank"><svg class="i-vk"><use xlink:href="#i-vk"></use></svg></a></li><li class="footer-socials__item"><a href="https://www.youtube.com/watch?v=s9F-DtmWR1k&amp;t=29s" target="_blank"><svg class="i-youtube"><use xlink:href="#i-youtube"></use></svg></a></li><li class="footer-socials__item"><a href="https://www.instagram.com/anton.sokolov/" target="_blank"><svg class="i-instagram"><use xlink:href="#i-instagram"></use></svg></a></li></ul></div></div><div class="footer-content"><p>Позвоните мне, я расскажу вам все о доме и том как его собрать</p><p>А еще лучше - приезжайте ко мне в гости, в мой собственный купольный дом, чтобы все увидеть самому.</p></div></div></div></footer></div></main></div><script src="https://polyfill.io/v3/polyfill.min.js?features=globalThis%2CIntersectionObserver"></script><script src="assets/js/vendors.js"></script><script src="assets/js/main.js"></script></body></html>
